# Database Configuration
DATABASE_URL=sqlite:///./database/minesentinel.db

# MQTT Configuration
MQTT_BROKER=broker.emqx.io
MQTT_PORT=1883
MQTT_TOPIC_TELEMETRY=minesentinel/device/+/telemetry
MQTT_TOPIC_STATUS=minesentinel/device/+/status
MQTT_TOPIC_ALERTS=minesentinel/device/+/alerts
MQTT_USERNAME=
MQTT_PASSWORD=

# ML Model Configuration
ML_MODEL_PATH=ml/models/random_forest_model.joblib

# API Configuration
API_PORT=8000
API_HOST=127.0.0.1
